<html>
   <body>
        <style>
            .navbar{
                margin:0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: space-around;
            }
            .navbar li{
                display: inline-block;
                margin: 0 20px;
                padding: 10px;
            }
        </style>
        <ul class ='navbar'>
            <li>Home</li>
            <li>Servicios</li>
            <li>Quienes somos</li>
            <li>Contacto</li>
            <li>About</li>
        </ul>
    </body>
</html>