{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contáctanos</h1>

<p> Formulario HTML </p>

<div class="django-description">
    <div class="form-group">
        <form action="/contact/" method="POST">{% csrf_token %}
            <p><label for="asunto">Asunto:</label></p>
            <input type="text" id="asunto" name="asunto">
            <p><label for="email">Email:</label></p>
            <input type="text" id="email" name="email">
            <p><label for="mensaje">Mensaje:</label></p>
            <textarea id="mensaje" name="mensaje" rows="15" cols="45"></textarea>
            <input type="submit" value="Enviar">
        </form>

    </div>
</div>
{% endblock %}
